<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Registrace</title>
</head>
<body>
  <p>Nová registrace na webu.</p>

  <p>
    Jméno: {$name}<br>
    Příjmení: {$surname}<br>
    Pohlaví: {$gender_string}<br>
    Email: {$email}
  </p>

  <p>
    Dne: {$date|date:'%A, %d.%B.%Y'} <br>
    ve {$date|date:'G:i:s'}
  </p>
</body>
</html>
